[color]
    ui = auto
[core]
    editor = vim
    pager = lv -c
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
[alias]
    a  = add
    aa = add -A
    ap = add -p
    c  = commit --verbose
    ca = commit --amend
    can = commit --amend --no-edit
    cm = commit -m
    pl = pull --rebase
    st = status
    co = checkout
    cop = checkout -p
    rp = reset -p
    br = branch
    df = diff
    dfs = diff --staged
    lg = log --graph --all --format="%C(cyan)%an%Creset%x09%C(yellow)%h%Creset%x09%s"
