[user]
    name = ryutamaki
    email = ryu.mochi@gmail.com
[color]
    ui = auto
[core]
    editor = vim
[alias]
    a  = add
    ap = add -p
    c  = commit
    ca = commit --amend
    can = commit --amend --no-edit
    cm = commit -m
    st = status
    co = checkout
    br = branch
    df = diff
    lg = log --graph --all --format="%C(cyan)%an%Creset%x09%C(yellow)%h%Creset%x09%s"
