[user]
    name = ryutamaki
    email = ryu.mochi@gmail.com
[color]
    ui = auto
[core]
    editor = vim
[alias]
    a  = add
    ap = add -p
    c  = commit
    cm = commit -m
    st = status
    co = checkout
    br = branch
    df = diff
